.header{
  padding: 10px 0;
}


.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 80px;
}

.logo p{
  color: #fff;
  font-size: calc(1rem * 2);
  margin: 0;
  text-transform: uppercase;
}