.header{
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 80px;
}

.logo p{
  color: #fff;
  font-size: calc(1rem * 2);
  margin: 0;
  text-transform: uppercase;
}

.loginBlock{
  color: #e3e3e3;
}

.loginBlock a{
  color: #e3e3e3;
}