
.app{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 220px 10fr;
    grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
}

header{
    grid-area: header;
    background-color: #2f2d2d;
    border-bottom: 1px solid #424243;
}

aside{
    grid-area: aside;
    background-color: #43454f;
}

main{
    grid-area: main;
    background-color: #3c3f41;
}

footer{
    grid-area: footer;
    background-color: #3c3f41;
}